/*http://dotcolon.net/DL/font/aileron.zip*/
@font-face {
	font-family: 'aileronLight';
	src: url('fonts/Aileron-Light.otf'); 
	src: 
		local('Aileron Light'),
		url('fonts/Aileron-Light.otf')  
		format('opentype');
	}

@font-face {
	font-family: 'aileronRegular';
	src: url('fonts/Aileron-Regular.otf'); 
	src: 
		local('Aileron Regular'),
		url('fonts/Aileron-Regular.otf')  
		format('opentype');
	}
}

@font-face {
	font-family: 'aileronBold';
	src: url('fonts/Aileron-Bold.otf'); 
	src: 
		local('Aileron Bold'),
		url('fonts/Aileron-Bold.otf')  
		format('opentype');
	}
}

html, body {
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar{
	display: none;
}

.nav-bar {
	width: 100%;
	height: 40px;
	margin: 0;
	background: white;
	opacity: 0.5;
	position: fixed;
/*    position: sticky;
	position: -webkit-sticky;*/
	top: 0px;
	z-index: 1;
}
#screens{
	scroll-snap-type: y mandatory;
	scroll-snap-stop: normal;
	overflow-y: scroll;
    height: 100vh;
}
#screens::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.screen1 {
	scroll-snap-align: center;
	position: relative;
	padding: 0;
	width: 100%;
	overflow: auto;
}
.screen2 {
	margin-top: 200px;
	margin-bottom: 200px;
	scroll-snap-align: center;
	position: relative;
	padding: 0;
	width: 100%;
	overflow: auto;
}

.screen3 {
	scroll-snap-align: start;
	position: relative;
	padding: 0;
	width: 100%;
	overflow: auto;
}


@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

.background_image {
	position: relative;
	margin: 0;
	padding: 0;
	max-width: 100%;
	float:right;
	min-width: 1000px;
	animation: fadeInFromNone 5s ease-out;
}
.text-fit {
	position: absolute;
	margin-top: 30%;
	margin-left: 10%;
	max-width: 50%;
	line-height: 3vw;
	font-size: 2.5vw; /*3calc(1px + 3vw);*/
	font-family: 'aileronLight';
	text-align: left;
	color: #CD3F3E;
}
.text-fit2 {
	position: relative;
	margin-top: 15%;
	margin-left: 10%;
	max-width: 80%;
	line-height: 3vw;
	font-size: 2.5vw;
	font-family: 'aileronLight';
	text-align: left;
	color: #CD3F3E;
}
.icon{
	margin-top: 10px;
	margin-left: 10%;
	position: relative;
	height: 30px; 
	width: 30px;
	opacity: 0.5;
}
.icon:hover{
	opacity: 1; 
}

/* Dropdown Button */
.dropbtn {
	position: relative;
	background-image: url(../images/icon_menu_flat.png);
	background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 0px 0px; 
	border: none;
	cursor: crosshair;
	height: 30px; 
	width: 30px;
	opacity: 0.5;
	z-value: 2;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: 10%;
  top: 10%;
  position: relative;
/*  display: inline-block;
*/}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'aileronLight';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #CD3F3E;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.empty{
	margin: 0;
	border: 0;
	width:100%;
	height:200px;
	border-style: none;
}

#container{
	position: relative;
	margin-right: 10%;
	margin-left: 10%;
	padding: 0;
	float:center;
/*	min-width: 1000px;
	animation: fadeInFromNone 5s ease-out;*/
	width: 80%; 
	height: 600px;
	title: "press CTRL to (un)select multiple tags";
/*	font-family: 'aileronLight';*/
}
/*#container:hover{
	color: #000000;
}

#container:click{
	border-style: solid;
}

#container:selected{
	color: #FFFFFF;
}*/

/*[id^="ac_simple"]{
	color: #FFFFFF;
}*/

#auto_grid {
 	margin-top: 300px;
 	margin-bottom: 300px;
 	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	grid-gap: 20px;
  	grid-auto-rows: 300px;
	margin-left: 10%;
	margin-right: 10%;
}

.snapshot{

/*  height: 80%;
  width: 80%;*/
	vertical-align: middle;
/*  max-width:100%;
  max-height:100%;*/
}

.snapbutton{
	margin-right: 10%;
	margin-left: 10%;
	max-width:300px;
	max-height:100%;
	position: relative;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center; 
	border: none;
	cursor: crosshair;
}

.snapbutton:focus{
	opacity: 0.5;
}

